{{> header}}

<h1>{{title}}</h1>

<div class="jobs">

    {{#jobs}}
        <section>
            <header class="article-header">
                <h2 class="article-title"><a href="/job/{{slug}}">{{title}}</a></h2>
                <div class="article-meta">By  <strong>None</strong>, on <strong>{{addedAt}}</strong></div>
            </header>
            <div class="article-description">

            </div>
        </section>
    {{/jobs}}
    {{^jobs}}
        <h3>No Jobs to display</h3>
    {{/jobs}}

</div>

{{> footer}}
