{{> snippet/header}}

<section class="job">
    <header class="article-header">
        <h1 class="article-title">{{job.title}}</h1>
        <p class="article-meta">Created <strong>{{job.addedAt}}</strong></p>
    </header>

    <div class="article-description">
        {{job.description}}
    </div>
</section>

{{> snippet/footer}}